body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll;
}

div  {
    box-sizing: border-box;
    background-color: #1C1C1C;
}

#header11::after {
    content: "";
    display: table;
    clear: both;
}

#header11 {
    overflow: hidden;
    width: 100%;
    background-color: white;
}

.logo {
    float: left;
    width: 60px;
    height: auto;
    display: inline-block;
    cursor: pointer;
    transition: border 0s ease-in-out;
    box-sizing: border-box;
}

.logo:hover {
    border: 4px solid black;
}

#store_title {
    color: black;
    font-size: 18px;
    text-align: center;
    margin-left: 20px;
    font-family: 'sans-serif';
    border: 2px solid black;
    padding: 3px;
}

.profile_logo {
    float: right;
    width: 60px;
    height: auto;
    display: inline-block;
    cursor: pointer;
    transition: border 0s ease-in-out;
    box-sizing: border-box;
}

.profile_logo:hover {
    border: 4px solid black;
}

.shopping_logo {
    float: right;
    width: 60px;
    height: auto;
    display: inline-block;
    cursor: pointer;
    transition: border 0s ease-in-out;
    box-sizing: border-box;
}

.shopping_logo:hover {
    border: 5px solid black;
}

#header11 img, p {
    display: inline-block;
    vertical-align: middle;
}

#header12 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #1C1C1C;
}

.search-bar {
    padding: 12px;
    box-sizing: border-box;
    width: 620px;
}

.search-button {
    padding: 12px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 8px;
}

#header2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #fff;
    padding: 10px;
}

.subtitle-container {
    position: relative;
    background-color: black;
    margin: 0 15px;
    cursor: pointer;
    width: 30%;
    font-size: 18px;
    font-family: 'Arial Black', sans-serif;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2980b9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.subtitle-container:hover .dropdown-content {
    display: block;
}

.subtitle-container:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.subtitle:hover, .subtitle1:hover, .subtitle2:hover, .subtitle3:hover, .subtitle4:hover, .subtitle5:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

#product_info {
    background-color: white;
    background-size: cover;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    border: 5px solid black;
    width: 40%;
}

.product_title {
    background-color: white;
}

#product_name {
    background-color: white;
}

#image1 {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.main {
    display:flex;
}

.center-container1 {
    width: 40%;
    height: 625px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border: 5px solid black;
}

.center-container2 {
    width: 30%;
    height: 625px;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    border: 5px solid black;
}

.center-container3 {
    width: 14%;
    height: 325px;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    border: 5px solid black;
}

#other_options {
    font-size: 15px;
    font-family: "Arial Black", sans-serif;
}

.color-button1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.color-button2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: darkblue;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.color-button3 {
    display: inline-block;
    padding: 10px 20px;
    background-color: darkred;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.color_pic {
    resize: vertical;
    width: 40px;
}

.photo-container {
    width: 20%;
    margin: 20px auto;
    text-align: center;
    background-color: white;
    float: left;
    cursor: pointer;
}

.photo-container:hover {
    border: 5px solid black;
}

.product-title {
    font-size: 12px;
    font-family: "Arial Black", sans-serif;
    margin-top: 10px;
    background-color: white;
}

.description {
    border: 3px solid black;
    margin: 5px auto;
    padding: 10px;
    text-align: left;
    float: left;
    background-color: white;
    color: black;
    font-size: 15px;
    font-family: "Arial Black", sans-serif;
}
.buy-button, .cart-button {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cart-button {
    background-color: #008CBA;
}

.item-info {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    font-family: "Arial Black", sans-serif;
}

#price {
    color:black;
}

#list_title {
    color:black;
}

.more_items {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #1C1C1C;
    border: 2px solid black;
    color: white;
}

.featured_items {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: whitesmoke;
    height: 300px;
}

.featured_image {
    width: 100px;
    resize: both;
    border: 3px solid black;
    margin: 10px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
}

#featured-item1, #featured-item2, #featured-item3, #featured-item4, #featured-item5, #featured-item6, #featured-item7 {
    background-color: white;
    margin: 10px;
    height: 225px;
    color: black;
    font-family: "Arial Black", sans-serif;
    font-size: 11px;
    width: 11%;
    border: 3px solid black;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}



footer {
    background-color: #1C1C1C;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
